@font-face {
    font-family: "monse-b";
    src: url(fonts/Montserrat-Bold.otf) format("truetype");
}
@font-face {
    font-family: "monse-l";
    src: url(fonts/Montserrat-Light.otf) format("truetype");
}
@font-face {
    font-family: "monse-r";
    src: url(fonts/Montserrat-Regular.otf) format("truetype");
}
@font-face {
    font-family: "Grand";
    src: url(fonts/Grandstander-clean.ttf) format("truetype");
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
html{margin-top: 0 !important;}
body{font-size: 12px;font-family: monse-l;color: #4F5357;-webkit-font-smoothing: antialiased;position: relative;overflow-x: hidden;height: auto;margin: 0px}
body *{outline: none}
input{outline: none;}
input:focus::-webkit-input-placeholder{color: transparent;}
input:focus:-moz-placeholder{color: transparent;}
input:focus::-moz-placeholder{color: transparent;}
input:focus:-ms-input-placeholder {color: transparent;}
input:focus{outline: none}
textarea:focus::-webkit-input-placeholder{color: transparent;}
textarea:focus:-moz-placeholder{color: transparent;}
textarea:focus::-moz-placeholder{color: transparent;}
textarea:focus:-ms-input-placeholder {color: transparent;}
textarea:focus{outline: none}
a{color: initial;text-decoration: none;cursor: pointer;}
a:focus{outline: none;color: none;}
a{text-decoration: none!important;outline: none;}
a:hover{text-decoration: none;outline: none;color: inherit;}
h1,h2,h3,h4,h5,h6,p{margin:0px;line-height:normal;}
h1,h2,h3,h4,h5,h6{text-align: center;font-weight: normal;}
button{border: none;outline: none}

button[disabled], html input[type=button][disabled], input[type=reset][disabled], input[type=submit][disabled]{opacity: .5}
.input.ng-invalid.ng-dirty{border: 1px solid #E62117!important}
.input.ng-valid{background: white}
img{max-width: 100%;}
/*Globales*/

.max-widht,
.max-widht1,
.max-widht2,
.max-widht3,
.max-widht4,
.max-widht5,
.max-widht6,
.max-widht-extend{padding: 0;margin: 0 auto}

h1.title{font-family: Grand;font-size: 50px;color: #484848;text-transform: uppercase;}
h1.title2{font-family: Grand;font-size: 50px;color: #B5DCB0;text-transform: uppercase;text-align: left;margin-bottom: 20px}

.button{padding: 20px 30px;border: 2px solid #B2DCAC;box-sizing: border-box;;margin-top: 30px;max-width: 285px;margin: 0 auto;display: flex;flex-direction: row;justify-content: center;align-content: center;transition: all ease-in-out .5s;
  background-color: transparent;
}
.button span{color: #B2DCAC;font-size: 22px;text-transform: uppercase;text-align: center;font-family: monse-b;transition: all ease-in-out .5s}

.button:hover{background: #B2DCAC}
.button:hover span{color: white}

.galeria .button{padding: 10px 15px;margin-top: 20px}
.button span.black{color: black;font-size: 18px}

/*Globales*/


/*Header*/

.header{position: fixed;left: 0;right: 0;top: 0;z-index: 10000000;display: flex;flex-direction: column;justify-content: flex-end;align-items: flex-end;width: 100%;;transition: all ease-in-out .5s}
.header .cont{display: flex;flex-direction: row;justify-content: flex-end;align-items: center;padding: 5px;box-sizing: border-box;position: relative;z-index: 10;flex-wrap: wrap;position: relative;width: 100%}
.header .cont .info{display: flex;flex-direction: row;justify-content: center;align-items: center;margin: 5px 10px}
.header .cont .info span{color: #B2DCAC;font-weight: bold}
.header .cont .info a{color: white;margin: 0 8px;font-size: 14px;font-weight: bold}

.header .cont .logo{position: absolute;left: 0;top: 10px;visibility: hidden;transition: all ease-in-out .5s}
.header .cont .logo img{width: 150px}

.header .cont .lenguaje{display: flex;flex-direction: row;justify-content: center;align-items: center;margin: 5px 10px}
.header .cont .lenguaje a{color: white;text-transform: uppercase;font-size: 16px;margin: 0 2px;font-weight: bold}

.header .cont .lenguaje a:hover{color: #B2DCAC}

.header .cont .redes{display: flex;flex-direction: row;justify-content: center;align-items: center;margin: 5px 10px}
.header .cont .redes a{margin: 0 3px;display: flex;flex-direction: row;justify-content: center;align-items: center}
.header .cont .redes i{color: white;font-size: 25px}
.header .cont .redes a:last-child i{font-size: 30px}

.header .cont .redes i:hover{color:  #B2DCAC}

.header .cont .open-menu{display: none;}
.header .cont .open-menu i{color: white;font-size:40px}

.cerrar-menu{position: fixed;width: 100%;height: 100%;left: 100%;top: 0;z-index: 1000000;background: rgba(0,0,0,0.5);}

.header .cont .links{display: flex;flex-direction: row;justify-content: center;align-items: center;left: 0;transition: all ease-in-out .5s}
.header .cont .links a{margin: 10px}
.header .cont .links .link{}
.header .cont .links .link span{color: white;text-transform: uppercase;font-weight: bold;font-size: 12px}
.header .cont .links .colibri{width: 150px;display: flex;flex-direction: row;justify-content: center;align-items: center;}
.header .cont .links .colibri img{width: 100%;}
.header .cont .links .contacto{padding: 7px 10px;background: #B2DCAC;border: 2px solid #B2DCAC;box-sizing: border-box;transition: all ease-in-out .5s}
.header .cont .links .contacto span{color: #344D30;font-weight: bold;text-transform: uppercase;text-align: center;font-size: 18px}

.header .cont .links .link:hover span{color: #B2DCAC;}

.header .cont .links .contacto:hover{background: transparent;}
.header .cont .links .contacto:hover span{color: white;}

.header.change .cont .logo{visibility: visible;}

.header.change{background: #484848}

/*
.header.change .cont .info span,
.header.change .cont .info a,
.header.change .cont .lenguaje a,
.header.change .cont .redes i,
.header.change .cont .open-menu i,
.header.change .cont .links .link span{color: #484848}
*/

/*Header*/

/**Home**/

.home{min-height: 1000px;background: url(../img/home.jpg);background-size: cover;background-repeat: no-repeat;position: relative;display: flex;flex-direction: row;justify-content: center;align-items: flex-end;padding-top: 120px;box-sizing: border-box;padding-bottom: 60px;background-attachment: fixed;}
.home:after{width: 100%;height: 100%;position: absolute;left: 0;top: 0;content: '';background: rgba(0,0,0,.4);z-index: 1}

.home .cont{position: relative;z-index: 100;display: flex;flex-direction: column;align-items: center;justify-content: center;}
.home .cont .box{display: flex;flex-direction: row;align-items: center;justify-content: center;margin-bottom: 25px}
.home .cont .box a{color: white;font-size: 20px;font-family: Grand;text-transform: uppercase;margin: 5px}

.home .cont .logo{width: 90%;max-width: 400px;margin: 0 auto}

.home .cont .scroll-down{margin-top: 50px}
.home .cont .scroll-down i{color: white;font-size: 80px}


.servicios{display: flex;flex-direction: row;align-items: center;justify-content: space-between;width: 100%;flex-wrap: wrap;margin-top: 100px}
.servicios .conter{width: 30%;display: flex;flex-direction: column;align-items: center;justify-content: center;margin: 10px}
.servicios .conter i{color: white;font-size: 100px;margin-bottom: 40px;}
.servicios .conter i.noun_Pet-friendly_2677524{font-size: 120px}
.servicios .conter h2{color: white;font-size: 22px;text-transform: uppercase;font-family: Grand;text-align: center;margin: 5px 0}
.servicios .conter p{color: white;font-size: 16px;text-align: center;}
.slider-home{background: #484848}
.slider-home .item{display: flex;flex-direction: row;justify-content: center;align-items: center;}
.slider-home img{width: 100%;}

.cont-menu{padding:60px 0;background: #484848;display: flex;flex-direction: column;justify-content: center;align-items: center;position: relative;overflow: hidden;}
.cont-menu .menu{width: 90%;max-width: 800px;margin-bottom: 30px}
.cont-menu .lido-textura{width: 90%;max-width: 600px;position: absolute;bottom: -200px;left: 0;right: 0;margin: 0 auto;transition: all ease-in-out .8s}

/* Dropdown menu */
.drowpdown{
  position: relative;
  display: block;
  width: 285px;
  max-width: 90%;
}
.drowpdown .button{
  width: 100%;
}
.drowpdown ul{
  position: absolute;
  width: 100%;
  background-color: #fff;
  margin: 0;
  box-sizing: border-box;
  z-index: 10;
  list-style: none;
  padding: 0;
  top: 50%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
}
.drowpdown:hover ul{
  top: 98%;
  visibility: visible;
  opacity: 1;
}
.drowpdown li{
  font-size: 20px;
}
.drowpdown ul span{
  color: #b2dcac;
  padding: 10px 15px;
  font-weight: bold;
  display: block;
}
.drowpdown ul a{
  padding: 10px 15px 10px 35px;
  color: #000;
  display: block;
  transition: all .3s;
}
.drowpdown ul a:hover{
  background-color: #b2dcac;
  color: #fff;
}


.galeria{padding: 40px 0}
.galeria .instagram{display: flex;flex-direction: row;align-items: center;justify-content: center;flex-wrap: wrap;position: relative;overflow: hidden;}
.galeria .instagram .image{width: 30%;display: flex;flex-direction: row;align-items: center;justify-content: center;background-size: cover!important;background-position: center!important;margin: 1%;position: relative;overflow: hidden;}
.galeria .instagram a img{width: 100%}

.instagram-hover{width: 100%;height: 100%;background: rgba(178,220,172,0.8);display: flex;flex-direction: row;align-items: center;justify-content: center;position: absolute;left: 0;bottom: -100%;transition: all ease-in-out .5s}
.instagram-hover i{color: white;font-size: 90px;}

.galeria .instagram .image:hover .instagram-hover{bottom: 0}

/** eventos **/

.eventos{padding-top: 60px;padding-bottom: 100px;background: #B2DCAC;position: relative;overflow: hidden;background-image: url(../img/textura.png);background-size: cover;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.slider-eventos{width: 100%;position: relative;z-index: 10}
.slider-eventos .item{padding: 0 10px;box-sizing: border-box;display: flex;flex-direction: row;justify-content: center;align-items: center;}
.slider-eventos .item img{width: 100%}

.eventos p{color: #4B4744;margin: 50px auto;font-size: 24px;text-align: center;width: 90%;max-width: 1050px}
.eventos p strong{font-family: monse-b}
.eventos .lido-textura{width: 90%;max-width: 700px;position: absolute;bottom: -90px;left: 0;right: 0;margin: 0 auto}


.masajes{padding-top: 60px;padding-bottom: 150px;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.masajes .title{margin-bottom: 30px}
.masajes p{color: #4B4744;margin: 20px auto;font-size: 24px;text-align: center;width: 90%;max-width: 1050px}
.masajes p strong{font-family: monse-b;color: #B2DCAC}
.masajes i{color: #B2DCAC;font-size: 300px;margin-top: 18px}

.info-masajes{
  padding: 1px 0 60px 0;
  background: #484848;background-image: url('../img/textura2.png');background-size: cover;position: relative;}
.info-masajes .max-widht{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;align-items: stretch;}
.info-masajes h1.title2{width: 100%}
.info-masajes .cont{width: 50%;padding: 20px;display: flex;flex-direction: column;box-sizing: border-box;}
.info-masajes .cont .box{display: flex;flex-direction: column;margin: 10px 0}
.info-masajes .cont .box h2{font-family: monse-b;font-size: 25px;margin-bottom: 10px;color: #FFFFFF;text-align: left;}
.info-masajes .cont .box p{font-size: 16px;text-align: justify;;color: #FFFFFF}

.fotos-masajes{
  position: relative;
  width: 100%;
  /* left: 0;top: -15%;right: 0; */
  margin-top: -150px;
  margin-bottom: 80px;
  display: flex;flex-direction: row;align-items: center;justify-content: center;}
.fotos-masajes .box-slide{display: flex;flex-direction: row;align-items: stretch;justify-content: center;}
.fotos-masajes .box-slide .row{width: 5%;display: flex;flex-direction: row;align-items: flex-end;justify-content: center;}
.fotos-masajes .box-slide i{font-size: 40px;color: white;margin-bottom: 30px}
.fotos-masajes .box-slide .slider-masajes{width: 90%}
.fotos-masajes .box-slide .slider-masajes .item{padding: 0 10px;box-sizing: border-box;display: flex;flex-direction: row;align-content: center;align-items: center;}
.fotos-masajes .box-slide .slider-masajes .item img{width: 100%}
.fotos-masajes .box-slide .icon-izq-flecha{}
.fotos-masajes .box-slide .icon-der-flecha{}

.fotos-masajes img{width: 450px;}

.reviews{padding: 80px 0;display: flex;flex-direction: column;justify-content: center;align-items: center;flex-wrap: wrap;}

.reviews .owl-carousel .owl-wrapper, .owl-carousel .owl-item{display: flex;flex-direction: column;justify-content: center;align-items: center;}

.reviews .item{display: flex;flex-direction: row;justify-content: center;align-items: center;flex-wrap: wrap;}

.review{display: flex;flex-direction: row;align-content: center;align-items: stretch;width: 90%;max-width: 900px;margin-top: 50px;flex-wrap: wrap;}
.review .img{display: flex;flex-direction: column;justify-content: center;align-items: center;padding: 0 40px}
.review .img img{width: 80px;height: 80px;margin-bottom: 20px;border-radius: 50%}
.review .img p{text-align: center;font-size: 15px;margin-bottom: 6px;font-weight: 300}

.review .info{display: flex;flex-direction: column;justify-content: flex-start;align-items: stretch;width: 80%;padding: 0 10px;box-sizing: border-box;}
.review .info .calificacion{display: flex;flex-direction: row;justify-content: flex-start;align-items: center;}
.review .info .calificacion .circles{display: flex;flex-direction: row;justify-content: flex-start;align-items: center;margin-right: 10px}
.review .info .calificacion .circles .circle{width: 20px;height: 20px;margin-right: 5px;background: #47A872;border-radius: 50%}
.review .info .calificacion p{font-size: 15px;text-align: left;}
.review .info h1{margin: 10px 0;text-align: left;font-size: 22px;font-weight: bold}
.review .info .mensaje{font-size: 18px;text-align: justify;font-weight: 300}

.contacto .cont{display: flex;flex-direction: column;background: url('../img/contacto.jpg');background-size: cover;background-position: center;position: relative;background-attachment: fixed;}
.contacto .cont{height: 450px;position: relative;display: flex;flex-direction: row;justify-content: center;align-items: center;}
.contacto .cont:after{width: 100%;height: 100%;position: absolute;left: 0;top: 0;content: '';background: rgba(0,0,0,.4);z-index: 1}
.contacto .cont i{position: relative;z-index: 2;color: white;font-size: 180px}

.contacto form{padding: 80px 0;position: relative;overflow: hidden;}
.image-rigt{position: absolute;right: -2%;width: 300px;bottom: 0}
.contacto .max-widht3{margin-top: 100px;position: relative;z-index: 10}
.contacto h1.title{margin-bottom: 60px}
.contacto form p{color: #4B4744;margin: 20px auto;font-size: 20px;text-align: center;width: 90%;max-width: 950px}
.contacto form p strong{font-family: monse-b;color: #B2DCAC;font-size: 26px}


.contacto label{font-size: 18px;text-align: left;color: #B2DCAC;text-transform: capitalize;}
.contacto .input{border: 2px solid #B2DCAC;background: transparent;padding: 12px  10px;box-sizing: border-box;width: 100%;margin-bottom: 20px;margin-top: 10px}
.contacto textarea{height: 100px}
.contacto .button{background: #B2DCAC}
.contacto .button span{color: #344D30}

.contacto .button:hover{background: white;}
.contacto .button:hover span{color: #344D30}

.footer{padding: 80px 0 20px 0;background: #484848;margin-top: -5px}
.footer .max-widht4{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;align-items: center;}
.footer .max-widht4 .cont{width: 50%;display: flex;flex-direction: column;justify-content: center;align-items: center;padding: 10px;box-sizing: border-box;}
.footer .max-widht4 .cont img{width: 100%}
.footer .max-widht4 .cont .link{color: #B4D8B2;margin-bottom: 6px;text-align: left;text-transform: uppercase;font-size: 16px;font-family: monse-b;width: 100%}
.footer .max-widht4 .cont .redes{display: flex;flex-direction: row;justify-content: flex-start;align-items: center;width: 100%;margin-top: 30px}
.footer .max-widht4 .cont .redes a{margin: 5px}
.footer .max-widht4 .cont .redes i{color: #B4D8B2;font-size: 30px;}
.footer .copy{margin-top: 80px;width: 100%;display: flex;flex-direction: row;justify-content: center;align-items: center;}
.footer .copy p{color: #B4D8B2;font-size: 20px;font-family: monse-b}

.footer .max-widht4 .cont .link:hover{color: white}
.footer .max-widht4 .cont .redes:hover i{color: white}

@media(min-width: 1450px){
    /* .fotos-masajes{top: -30%} */
}



@media(min-width: 1401px){
    .max-widht-extend{max-width: 1600px!important;width: 100%}
    .max-widht{max-width: 1400px!important;width: 90%}
    .max-widht1{max-width: 1300px!important;width: 90%}
    .max-widht2{max-width: 1100px!important;width: 90%}
    .max-widht3{max-width: 900px!important;width: 90%}
    .max-widht4{max-width: 700px!important;width: 90%}
    .max-widht5{max-width: 600px!important;width: 90%}
    .max-widht6{max-width: 500px!important;width: 90%}
    /* .fotos-masajes{top: -22%;} */
    .fotos-masajes img{width: 500px}

}

@media(max-width: 1400px){
    .max-widht-extend{max-width: 1400px!important;width: 100%}
    .max-widht{max-width: 1200px!important;width: 90%}
    .max-widht1{max-width: 1100px!important;width: 90%}
    .max-widht2{max-width: 900px!important;width: 90%}
    .max-widht3{max-width: 700px!important;width: 90%}
    .max-widht4{max-width: 600px!important;width: 90%}
    .max-widht5{max-width: 500px!important;width: 90%}
    .max-widht6{max-width: 400px!important;width: 90%}
}

@media(max-width: 1200px){
    /* .fotos-masajes{top: -20%} */
}

@media(max-width: 1000px){
    /* .fotos-masajes{top: -7%} */
}

@media(max-width: 900px){
	.home .cont .box a{font-size: 16px}
    /* .fotos-masajes{top: -4%} */
    .eventos p{font-size: 24px;}
    .masajes p{font-size: 24px}
    .contacto form p{font-size: 18px}
    .contacto form p strong{font-size: 24px}
}

@media(max-width: 700px){
    .servicios .conter{width: 100%;}
    .header .cont .info{width: 100%;margin-bottom: 10px}
	.header .cont .lenguaje{width: 33%;margin: 0;padding: 0 10px;box-sizing: border-box;flex-direction: row;align-items: center;justify-content: center;}
	.header .cont .redes{width: 33%;margin: 0;padding: 0 10px;box-sizing: border-box;flex-direction: row;align-items: center;justify-content: center;}
	.header .cont .open-menu{width: 33%;display: flex;flex-direction: row;align-items: center;justify-content: center;}
	
	.header .cont .links{position: fixed;left: 0;top: 0;width: 50%;background: #484848;flex-direction: column;height: 100%;left: -100%;z-index: 200000000}

	.home .cont .box a{font-size: 10px}

    .info-masajes .cont{width: 100%}
    
    .review .img,
    .review .info{width: 100%}

    /* .fotos-masajes{top: -2%} */
    h1.title,
    h1.title2{font-size: 35px}

    .eventos p{font-size: 18px;}
    .masajes p{font-size: 18px}
    .contacto form p{font-size: 16px}
    .contacto form p strong{font-size: 18px}

    .header .cont .info a{font-size: 12px}
    .cont-menu .lido-textura{bottom:-30px}
    .info-masajes .cont .box p{font-size: 14px}
    .info-masajes .cont .box h2{font-size: 22px;}
}

@media(max-width: 615px){
    /* .fotos-masajes{top: -10%} */
    .contacto .cont{
      background-size: auto 100%;
      background-attachment: initial;
      height: 350px;
    }
}
@media(max-width: 450px){
  .eventos p{
    text-align: left;
  }
}